[submodule "cassandra"]
	path = cassandra
	url = git@github.com:relateiq/docker-cassandra.git
	branch = master
[submodule "oracle-java7"]
	path = oracle-java7
	url = git@github.com:relateiq/docker-oracle-java7.git
	branch = master
[submodule "kafka"]
	path = kafka
	url = git@github.com:relateiq/docker-kafka.git
	branch = master
[submodule "oracle-java8"]
	path = oracle-java8
	url = git@github.com:relateiq/docker-oracle-java8.git
[submodule "docker-npm-cache"]
	path = docker-npm-cache
	url = git@github.com:relateiq/docker-npm-cache.git
	branch = master
[submodule "foundationdb-sql"]
	path = foundationdb-sql
	url = git@github.com:relateiq/docker-foundationdb-sql.git
